@{ ViewBag.Title = "Home"; }

<h2>Welcome </h2>

<p>
    <a href="@Url.Action("Create", "Student")" class="btn btn-primary">Enter Student Data</a>
    <a href="@Url.Action("Index", "Student")" class="btn btn-secondary">List All Students</a>
</p>